<div id="footer">
    powered by <a href="http://www.atcult.it" target="_new">@Cult </a>
    <hr width="150"/>
    <a href="http://www.atcult.it" target="_new">@Cult</a>. Rome, Italy. (+39) 06-69305937
    <span class="TermsOfUse">
    	<a href="mailto:info@atcult.it">info@atcult.it</a>
    </span>
</div>
