<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <description>This is the web module interface of the OseeGenius family.</description>
  <display-name>OseeGenius -W-</display-name>
  <context-param>
    <param-name>org.apache.velocity.toolbox</param-name>
    <param-value>/tools.xml</param-value>
  </context-param>
  <context-param>
    <description>URLs of OseeGenius -S- TH searcher instance(s) separated by comma</description>
    <param-name>th.ir.urls</param-name>
    <param-value>http://127.0.0.1:8983/solr/th,http://127.0.0.1:8983/solr/th</param-value>
  </context-param>
  <context-param>
    <description>URLs of OseeGenius -S- HL searcher instance(s) separated by comma</description>
    <param-name>hl.urls</param-name>
    <param-value>http://127.0.0.1:8983/solr/highlighter,http://127.0.0.1:8983/solr/highlighter</param-value>
  </context-param>
  <context-param>
    <description>URLs of OseeGenius -S- searcher instance(s) separated by comma</description>
    <param-name>ir.urls</param-name>
    <param-value>http://127.0.0.1:8983/solr/generali,http://127.0.0.1:8983/solr/generali</param-value>
  </context-param>
  <filter>
    <display-name>ViewerModeFilter</display-name>
    <filter-name>ViewerModeFilter</filter-name>
    <filter-class>com.atc.osee.web.filters.ViewerModeFilter</filter-class>
  </filter>
  <filter>
    <display-name>WriterModeFilter</display-name>
    <filter-name>WriterModeFilter</filter-name>
    <filter-class>com.atc.osee.web.filters.WriterModeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>WriterModeFilter</filter-name>
    <url-pattern>/search</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>WriterModeFilter</filter-name>
    <url-pattern>/resource</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ViewerModeFilter</filter-name>
    <url-pattern>/search</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ViewerModeFilter</filter-name>
    <url-pattern>/resource</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <listener>
    <display-name>OseeGenius Session Lifecycle Listener</display-name>
    <listener-class>com.atc.osee.web.listeners.thexp.SessionLifeCycleListener</listener-class>
  </listener>
  <listener>
    <display-name>Osee Genius -W- Lifecycle listener</display-name>
    <listener-class>com.atc.osee.web.listeners.ApplicationLifeCycleListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>velocity</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.OseeGeniusFrontController</servlet-class>
    <init-param>
      <param-name>org.apache.velocity.tools.deprecationSupportMode</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>org.apache.velocity.tools.cleanConfiguration</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>org.apache.velocity.tools.userCanOverwriteTools</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <display-name>AutoSuggestion</display-name>
    <servlet-name>autosuggest</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.AutoSuggestionServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>HomeServlet</display-name>
    <servlet-name>home</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.HomeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>dewey</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.search.DeweySearchServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>NewTabServlet</display-name>
    <servlet-name>newtab</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.search.NewTabServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>NewThTabServlet</display-name>
    <servlet-name>newthtab</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.thexplorer.NewTabServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>SearchServlet</display-name>
    <servlet-name>search</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.search.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>ResourceServlet</display-name>
    <servlet-name>resource</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.search.ResourceServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>RSS Servlet</display-name>
    <servlet-name>rss</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.search.RssServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>ReturnToSearchServlet</display-name>
    <servlet-name>return2search</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.search.ReturnToSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>HomeServlet</display-name>
    <servlet-name>thhome</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.thexplorer.HomeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>thsuggest</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.thexplorer.AutoSuggestionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>thsearch</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.thexplorer.ThSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>ShowAdvancedSearchPageServlet</display-name>
    <servlet-name>advanced</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.search.AdvancedSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Controller that handles check / uncheck records action</description>
    <display-name>selector</display-name>
    <servlet-name>selector</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.SelectorServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>closeTab</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.search.CloseTabServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>closeThTab</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.thexplorer.CloseTabServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>export</display-name>
    <servlet-name>export</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.ExportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>download</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.DownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>email</display-name>
    <servlet-name>email</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.SendByEmailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>thresource</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.thexplorer.ThResourceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>threturn</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.thexplorer.ReturnToSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>cloud</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.thexplorer.CloudServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>workspace</display-name>
    <servlet-name>workspace</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.account.WorkspaceServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>bibliography</display-name>
    <servlet-name>bibliography</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.community.BibliographyActionServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>libraries</display-name>
    <servlet-name>libraries</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.TheLibrariesServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>newtag</display-name>
    <servlet-name>newtag</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.community.AddNewTagServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>newReview</display-name>
    <servlet-name>newReview</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.community.AddNewReviewServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>branch</display-name>
    <servlet-name>branch</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.biblio.ViewBranchDetailsServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>image</display-name>
    <servlet-name>cover</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.search.CoverHandlerServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>myloans</display-name>
    <servlet-name>myloans</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.circulation.MyLoans</servlet-class>
  </servlet>
  <servlet>
    <display-name>cat</display-name>
    <servlet-name>cat</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.istein.SearchByCategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>switch</display-name>
    <servlet-name>switch</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.SwitchBetweenSearchPerspectiveServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>browse</display-name>
    <servlet-name>browse</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.browse.BrowseServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>newBrowseTab</display-name>
    <servlet-name>newBrowseTab</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.browse.NewBrowseTab</servlet-class>
  </servlet>
  <servlet>
    <display-name>closeBrowseTab</display-name>
    <servlet-name>closeBrowseTab</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.browse.CloseBrowseTab</servlet-class>
  </servlet>
  <servlet>
    <display-name>pazpar2</display-name>
    <servlet-name>pazpar2</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.search.federated.PazPar2Servlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>metasearch</display-name>
    <servlet-name>metasearch</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.search.federated.FederatedSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>p2</display-name>
    <servlet-name>p2</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.search.federated.p2</servlet-class>
  </servlet>
  <servlet>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.account.Logout</servlet-class>
  </servlet>
  <servlet>
    <display-name>metaresource</display-name>
    <servlet-name>metaresource</servlet-name>
    <servlet-class>com.atc.osee.web.servlets.search.federated.MetaResourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>velocity</servlet-name>
    <url-pattern>*.vm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>autosuggest</servlet-name>
    <url-pattern>/suggest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dewey</servlet-name>
    <url-pattern>/dewey</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newtab</servlet-name>
    <url-pattern>/newTab</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newthtab</servlet-name>
    <url-pattern>/newThTab</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>resource</servlet-name>
    <url-pattern>/resource</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>rss</servlet-name>
    <url-pattern>/rss</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>return2search</servlet-name>
    <url-pattern>/return</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>thhome</servlet-name>
    <url-pattern>/thexplorer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>thsuggest</servlet-name>
    <url-pattern>/thsuggest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>thsearch</servlet-name>
    <url-pattern>/thsearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>advanced</servlet-name>
    <url-pattern>/advanced</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>selector</servlet-name>
    <url-pattern>/selector</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>closeTab</servlet-name>
    <url-pattern>/closeTab</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>closeThTab</servlet-name>
    <url-pattern>/closeThTab</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>export</servlet-name>
    <url-pattern>/export</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>download</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>email</servlet-name>
    <url-pattern>/email</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>thresource</servlet-name>
    <url-pattern>/thresource</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>threturn</servlet-name>
    <url-pattern>/threturn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>cloud</servlet-name>
    <url-pattern>/cloud</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>workspace</servlet-name>
    <url-pattern>/workspace</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>bibliography</servlet-name>
    <url-pattern>/bibliography</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>libraries</servlet-name>
    <url-pattern>/libraries</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newtag</servlet-name>
    <url-pattern>/newtag</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newReview</servlet-name>
    <url-pattern>/newReview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>branch</servlet-name>
    <url-pattern>/branch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>cover</servlet-name>
    <url-pattern>/cover</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>myloans</servlet-name>
    <url-pattern>/myloans</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>cat</servlet-name>
    <url-pattern>/cat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>switch</servlet-name>
    <url-pattern>/switch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>browse</servlet-name>
    <url-pattern>/browse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newBrowseTab</servlet-name>
    <url-pattern>/newBrowseTab</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>closeBrowseTab</servlet-name>
    <url-pattern>/closeBrowseTab</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>pazpar2</servlet-name>
    <url-pattern>/pazpar2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>metasearch</servlet-name>
    <url-pattern>/metasearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>p2</servlet-name>
    <url-pattern>/p2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>metaresource</servlet-name>
    <url-pattern>/metaresource</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>-1</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>500</error-code>
    <location>/Error.vm</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/404.vm</location>
  </error-page>
  <security-constraint>
    <display-name>General Protection Constraint</display-name>
    <web-resource-collection>
      <web-resource-name>protected resources</web-resource-name>
      <url-pattern>/workspace</url-pattern>
      <http-method>DELETE</http-method>
      <http-method>PUT</http-method>
      <http-method>HEAD</http-method>
      <http-method>OPTIONS</http-method>
      <http-method>TRACE</http-method>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <description>Limits protected resource access to authenticated users.</description>
      <role-name>Borrower</role-name>
      <role-name>administrator</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/login-error.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <description>Library end user</description>
    <role-name>Borrower</role-name>
  </security-role>
  <security-role>
    <description>Osee Genius Administrator</description>
    <role-name>administrator</role-name>
  </security-role>
  <resource-ref>
    <res-ref-name>mail/oseegenius</res-ref-name>
    <res-type>javax.mail.Session</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <res-ref-name>jdbc/oseegenius</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <res-ref-name>jdbc/amicus</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>AccessibileAdvancedSearchServlet</display-name>
    <servlet-name>AccessibileAdvancedSearchServlet</servlet-name>
    <servlet-class>com.atc.osee.web.servlet.accessibility.AccessibileAdvancedSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessibileAdvancedSearchServlet</servlet-name>
    <url-pattern>/AccessibileAdvancedSearchServlet</url-pattern>
  </servlet-mapping>
</web-app>