<!doctype html>
<html lang="it">
	<head>
		<title>#if($specificServletTitle) $text.get($specificServletTitle) - #end OPAC - $institution</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		#default_head
	</head>
	<!-- bncf2/layout/one_col_dewey.vm -->
	<body>
		<nav class="navbar navbar-light navbar-expand-md p-0 bg-white">
			#parse('components/page/default-search-header.vm')
		</nav>	
		<div class="main bg-white">
			<div class="container-fluid px-0">							
					$screen_content		
			</div>
		</div>
		<footer class="pt-md-5">
			<div class="container-fluid">
				#parse('components/page/footer.vm')
			</div>
		</footer>		
	</body>
</html>