#set ($i18nValue = $text.bundleGet('hold_exception', "$request.errorCode"))
<table>
	<tr>
		<td valign="top" rowspan="2"  width="1%"><img src="img/error_page_icon.png"/></td>
	</tr>
	<tr>
		<td valign="top">
    			<table>
    				<tr>
    					<!--<td valign="top"><b><span style="font-size:15px;">$text.duplicate_hold</span></b></td>-->
    				</tr>
					<tr>
    					<td>
							$i18nValue<br/>
						</td>
    				</tr>									
					<tr>
    					<td>
							&nbsp;
    					</td>
    				</tr>		
        			<tr>
        				<td colspan="2">
    						<input type="button" value="$text.return_to_search"  onclick="goback()" style="padding:3px;"/></td>
        			</tr>	  
        		  </tbody>
        		</table> 	
		</td>
	</tr>
</table>		
<br/>	<br/>	<br/>	<br/>	<br/>	<br/><br/>	<br/>
<script>
	function goback()
	{
		#if (!$visit.searchExperience.empty)
			document.location = 'search?${session.visit.searchExperience.currentTab.queryParameters}&dls=ik'
		#else
			document.location = 'home';
		#end
	
	}
</script>