inputi.i.root.pwd=rpp600gm
input.i.host=62.101.92.13
input.i.ssh.port=22023
input.i.http.port=8987
input.i.owner.user=pio
input.i.owner.group=oseegenius
input.i.owner.pwd=os33g3n87sp89
input.i.hsql.host=127.0.0.1
input.i.hsql.port=9101
input.jetty.home=/app/apache-solr-4.7.1/example
input.jetty.i.stop.port=8078
input.jetty.s.stop.port=8077
input.worked.out.dir=/home/export-data/pio/worked-out/
input.source.dir=/home/export-data/pio/
input.s.i.internal.host=127.0.0.1
inputi.s.root.pwd=rpp600gm
input.s.host=62.101.92.13
input.s.ssh.port=22023
input.s.http.port=8981
input.s.owner.user=pio
input.s.owner.group=oseegenius
input.s.owner.pwd=os33g3n87sp89
input.tomcat.home=/app/apache-solr-4.7.1/example
input.w.host=62.101.92.13
input.w.ssh.port=22023
input.w.owner.user=root
input.w.owner.group=root
input.w.owner.pwd=rpp600gm
input.pazpar2.host=62.101.92.13
input.pazpar2.ssh.port=22023
input.pazpar2.user=root
input.pazpar2.pwd=rpp600gm
input.z.host=62.101.92.13
input.z.ssh.port=22023
input.z.owner.user=pio
input.z.owner.group=oseegenius
input.z.owner.pwd=os33g3n87sp89
input.z.home=/app/jzkit-3.0.0