<style>
	#breadcrumb a:hover {border:none;text-decoration: none;}
</style>
<div id="breadcrumb">
	#set($tab = $session.visit.searchExperience.currentTab)		
	#if ($tab.queryParameters)
		<a class="linked_value" href='search?${session.visit.searchExperience.currentTab.queryParameters}'>($text.return_to_search)</a>	
	#end
</div>