<!-- email.vm -->
<!-- modal called from hits.vm or components/hits/bc_resource_view_mode.vm -->
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="emailModalTitle">$text.send_by_email</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <form id="send-email-form" action="$link.relative('email')" method="post" onsubmit="urlForEmail()">
      #if ($request.sctx)<input type="hidden" name="sctx" value="a"/>#end
      #if ($resource.id)<input type="hidden" name="resourceId" value="$resource.id"/>#end
      <input name="previousQueryDone" id="previousQueryDone" type="hidden"  value=""/>
      <div class="modal-body">
        <div class="row bg-white">
        #if (!$request.inError) 
			<span class="strSizeColor">$text.sendmail_info_message</span>
		#else
			<span class="alert alert-danger" role="alert">$text.sendmail_error_message</span>
		#end
        </div>
        <br/>
        <div class="row bg-white">
        	<div class="form-group d-flex align-items-center col-3">
	        	<label for="lname" class="label-search">
	        			$text.to
	        	</label>
	        </div>
	        <div class="form-group">
	        	<input class="form-control form-osee" name="recipients" id="lname" type="text" required value="#if ($request.recipients)$request.recipients#else#end"/>
	       	</div>  
        </div>
        <div class="row bg-white">
        	<div class="form-group d-flex align-items-center col-3">
	        	<label for="lname2" class="label-search align-right">
	        			$text.sendmail_subject
	        	</label>
	        </div>
	        <div class="form-group">
	        	<input class="form-control form-osee" name="subject" id="lname2" type="text" value="#if ($request.subject)$request.subject#else#end"/>
	       	</div>
        </div>
        <div class="row bg-white">
        	<div class="form-group d-flex align-items-center col-3">
	        	<label for="attachment" class="label-search">
	        			$text.attachment
	        	</label>
	        </div>
	        <div class="form-group">
	        	<select class="form-control form-osee" id="attachment" name="attachment">
	        		<option value="m21">Unimarc</option>
	        		<option value="mxml">MarcXml</option>
        			<option value="tmarc">Marc Text</option>	
        			<option value="pdf">Pdf</option>	
        			<option value="xls">Excel</option>	
	        	</select>
	       	</div>
        </div>
        <div class="row bg-white">
        	<label for="message" class="sr-only">
	        			$text.message
	        </label>
	        <div class="form-group offset-3">	
        		<textarea name="message" id="message">#if ($request.message)$request.message#else#end</textarea>
        	</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">$text.close</button>
        <button type="submit" class="btn btn-primary emailModalBtn">$text.send</button>
      </div>
      </form> 
    </div>
  </div>
</div>
<script type="text/javascript">
function urlForEmail() {
	var searchURL = window.location.href;
	$("#previousQueryDone").attr("value", searchURL);
}
</script>