<!-- history/browsing.vm -->
<div class="table-responsive container-fluid">
<table class="table">
	<thead>
	<tr class="d-flex">
		<th class="col-1">$text.date</th>			
		<th class="col-1">$text.from_history_header</th>
		##<th class="col-1">$text.index</th>
		<th class="col-1">$text.rpp_history_header</th>
		<td scope="col-3">&nbsp;</td>
	</tr>
    </thead>
    <tbody>
		#foreach($entry in $request.result)	
    	<tr class="d-flex">
        	<td class="col-1 my-0"><a class="landingLink strSizeOnly my-0" href='$entry.searchUri'>$entry.data</td>
            <td class="col-1 strSizeColor my-0">$entry.query</td>
           ## <td class="col-1 strSizeColor my-0">$text.get($entry.targetMetaAttribute)</td>
            <td class="col-1 strSizeColor my-0">$entry.howManyResults</td>
			<td class="col-3 my-0" valign="middle"><a class="landingLink strSizeOnly my-0" href="javascript:removeElementResearchHistory('$entry.idSearch')"><img src="img/minus.png" alt="">&nbsp;$text.remove</a></td>		
        </tr>
		#end
    </tbody>
</table>
