<option value="Afghanistan" #if($currentSelect == "nation" && $request.user.getNation() == "Afghanistan")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Afghanistan")selected#end >Afghanistan</option>
<option value="Albania" #if($currentSelect == "nation" && $request.user.getNation() == "Albania")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Albania")selected#end >Albania</option>
<option value="Algeria" #if($currentSelect == "nation" && $request.user.getNation() == "Algeria")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Algeria")selected#end >Algeria</option>
<option value="Andorra" #if($currentSelect == "nation" && $request.user.getNation() == "Andorra")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Andorra")selected#end >Andorra</option>
<option value="Angola" #if($currentSelect == "nation" && $request.user.getNation() == "Angola")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Angola")selected#end >Angola</option>
<option value="Anguilla" #if($currentSelect == "nation" && $request.user.getNation() == "Anguilla")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Anguilla")selected#end >Anguilla</option>
<option value="Antigua e Barbuda" #if($currentSelect == "nation" && $request.user.getNation() == "Antigua e Barbuda")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Antigua e Barbuda")selected#end >Antigua e Barbuda</option>
<option value="Arabia Saudita" #if($currentSelect == "nation" && $request.user.getNation() == "Arabia Saudita")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Arabia Saudita")selected#end >Arabia Saudita</option>
<option value="Argentina" #if($currentSelect == "nation" && $request.user.getNation() == "Argentina")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Argentina")selected#end >Argentina</option>
<option value="Armenia" #if($currentSelect == "nation" && $request.user.getNation() == "Armenia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Armenia")selected#end >Armenia</option>
<option value="Aruba" #if($currentSelect == "nation" && $request.user.getNation() == "Aruba")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Aruba")selected#end >Aruba</option>
<option value="Australia" #if($currentSelect == "nation" && $request.user.getNation() == "Australia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Australia")selected#end >Australia</option>
<option value="Austria" #if($currentSelect == "nation" && $request.user.getNation() == "Austria")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Austria")selected#end >Austria</option>
<option value="Azerbaigian" #if($currentSelect == "nation" && $request.user.getNation() == "Azerbaigian")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Azerbaigian")selected#end >Azerbaigian</option>
<option value="Bahamas" #if($currentSelect == "nation" && $request.user.getNation() == "Bahamas")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Bahamas")selected#end >Bahamas</option>
<option value="Bahrein" #if($currentSelect == "nation" && $request.user.getNation() == "Bahrein")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Bahrein")selected#end >Bahrein</option>
<option value="Bangladesh" #if($currentSelect == "nation" && $request.user.getNation() == "Bangladesh")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Bangladesh")selected#end >Bangladesh</option>
<option value="Barbados" #if($currentSelect == "nation" && $request.user.getNation() == "Bangladesh")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Bangladesh")selected#end >Barbados</option>
<option value="Belgio" #if($currentSelect == "nation" && $request.user.getNation() == "Belgio")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Belgio")selected#end >Belgio</option>
<option value="Belize" #if($currentSelect == "nation" && $request.user.getNation() == "Belize")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Belize")selected#end >Belize</option>
<option value="Benin" #if($currentSelect == "nation" && $request.user.getNation() == "Benin")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Benin")selected#end >Benin</option>
<option value="Bermuda" #if($currentSelect == "nation" && $request.user.getNation() == "Bermuda")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Bermuda")selected#end >Bermuda</option>
<option value="Bhutan" #if($currentSelect == "nation" && $request.user.getNation() == "Bhutan")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Bhutan")selected#end >Bhutan</option>
<option value="Bielorussia" #if($currentSelect == "nation" && $request.user.getNation() == "Bielorussia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Bielorussia")selected#end >Bielorussia</option>
<option value="Bolivia" #if($currentSelect == "nation" && $request.user.getNation() == "Bolivia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Bolivia")selected#end >Bolivia</option>
<option value="Bosnia ed Erzegovina" #if($currentSelect == "nation" && $request.user.getNation() == "Bosnia ed Erzegovina")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Bosnia ed Erzegovina")selected#end >Bosnia ed Erzegovina</option>
<option value="Botswana" #if($currentSelect == "nation" && $request.user.getNation() == "Botswana")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Botswana")selected#end >Botswana</option>
<option value="Bouvet (isola)" #if($currentSelect == "nation" && $request.user.getNation() == "Bouvet (isola)")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Bouvet (isola)")selected#end >Bouvet (isola)</option>
<option value="Brasile" #if($currentSelect == "nation" && $request.user.getNation() == "Brasile")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Brasile")selected#end >Brasile</option>
<option value="Brunei" #if($currentSelect == "nation" && $request.user.getNation() == "Brunei")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Brunei")selected#end >Brunei</option>
<option value="Bulgaria" #if($currentSelect == "nation" && $request.user.getNation() == "Bulgaria")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Bulgaria")selected#end >Bulgaria</option>
<option value="Burkina Faso" #if($currentSelect == "nation" && $request.user.getNation() == "Burkina Faso")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Burkina Faso")selected#end >Burkina Faso</option>
<option value="Burundi" #if($currentSelect == "nation" && $request.user.getNation() == "Burundi")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Burundi")selected#end >Burundi</option>
<option value="Cambogia" #if($currentSelect == "nation" && $request.user.getNation() == "Cambogia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Cambogia")selected#end >Cambogia</option>
<option value="Camerun" #if($currentSelect == "nation" && $request.user.getNation() == "Camerun")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Camerun")selected#end >Camerun</option>
<option value="Canada" #if($currentSelect == "nation" && $request.user.getNation() == "Canada")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Canada")selected#end >Canada</option>
<option value="Capo Verde" #if($currentSelect == "nation" && $request.user.getNation() == "Capo Verde")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Capo Verde")selected#end >Capo Verde</option>
<option value="Cayman (isole)" #if($currentSelect == "nation" && $request.user.getNation() == "Cayman (isole)")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Cayman (isole)")selected#end >Cayman (isole)</option>
<option value="Ciad" #if($currentSelect == "nation" && $request.user.getNation() == "Ciad")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Ciad")selected#end >Ciad</option>
<option value="Cile" #if($currentSelect == "nation" && $request.user.getNation() == "Cile")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Cile")selected#end >Cile</option>
<option value="Cina" #if($currentSelect == "nation" && $request.user.getNation() == "Cina")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Cina")selected#end >Cina</option>
<option value="Cipro" #if($currentSelect == "nation" && $request.user.getNation() == "Cipro")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Cipro")selected#end >Cipro</option>
<option value="Cocos e Keeling (isole)" #if($currentSelect == "nation" && $request.user.getNation() == "Cocos e Keeling (isole)")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Cocos e Keeling (isole)")selected#end >Cocos e Keeling (isole)</option>
<option value="Colombia" #if($currentSelect == "nation" && $request.user.getNation() == "Colombia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Colombia")selected#end >Colombia</option>
<option value="Comore" #if($currentSelect == "nation" && $request.user.getNation() == "Comore")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Comore")selected#end >Comore</option>
<option value="Cook (isole)" #if($currentSelect == "nation" && $request.user.getNation() == "Cook (isole)")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Cook (isole)")selected#end >Cook (isole)</option>
<option value="Corea del Nord" #if($currentSelect == "nation" && $request.user.getNation() == "Corea del Nord")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Corea del Nord")selected#end >Corea del Nord</option>
<option value="Corea del Sud" #if($currentSelect == "nation" && $request.user.getNation() == "Corea del Sud")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Corea del Sud")selected#end >Corea del Sud</option>
<option value="Costa D'avorio" #if($currentSelect == "nation" && $request.user.getNation() == "Costa D'avorio")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Costa D'avorio")selected#end >Costa D$esc.html("'")avorio</option>
<option value="Costa Rica" #if($currentSelect == "nation" && $request.user.getNation() == "Costa Rica")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Costa Rica")selected#end >Costa Rica</option>
<option value="Croazia" #if($currentSelect == "nation" && $request.user.getNation() == "Croazia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Croazia")selected#end >Croazia</option>
<option value="Cuba" #if($currentSelect == "nation" && $request.user.getNation() == "Cuba")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Cuba")selected#end >Cuba</option>
<option value="Curacao" #if($currentSelect == "nation" && $request.user.getNation() == "Curacao")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Curacao")selected#end >Curacao</option>
<option value="Danimarca" #if($currentSelect == "nation" && $request.user.getNation() == "Danimarca")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Danimarca")selected#end >Danimarca</option>
<option value="Dominica" #if($currentSelect == "nation" && $request.user.getNation() == "Dominica")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Dominica")selected#end >Dominica</option>
<option value="Egitto" #if($currentSelect == "nation" && $request.user.getNation() == "Egitto")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Egitto")selected#end >Egitto</option>
<option value="El Salvador" #if($currentSelect == "nation" && $request.user.getNation() == "El Salvador")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "El Salvador")selected#end >El Salvador</option>
<option value="Emirati Arabi Uniti" #if($currentSelect == "nation" && $request.user.getNation() == "Emirati Arabi Uniti")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Emirati Arabi Uniti")selected#end >Emirati Arabi Uniti</option>
<option value="Equador" #if($currentSelect == "nation" && $request.user.getNation() == "Equador")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Equador")selected#end >Equador</option>
<option value="Eritrea" #if($currentSelect == "nation" && $request.user.getNation() == "Eritrea")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Eritrea")selected#end >Eritrea</option>
<option value="Estonia" #if($currentSelect == "nation" && $request.user.getNation() == "Estonia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Estonia")selected#end >Estonia</option>
<option value="Etiopia" #if($currentSelect == "nation" && $request.user.getNation() == "Etiopia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Etiopia")selected#end >Etiopia</option>
<option value="Faeroer (isole)" #if($currentSelect == "nation" && $request.user.getNation() == "Faeroer (isole)")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Faeroer (isole)")selected#end >Faeroer (isole)</option>
<option value="Falkland" #if($currentSelect == "nation" && $request.user.getNation() == "Falkland")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Falkland")selected#end >Falkland</option>
<option value="Figi" #if($currentSelect == "nation" && $request.user.getNation() == "Figi")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Figi")selected#end >Figi</option>
<option value="Filippine" #if($currentSelect == "nation" && $request.user.getNation() == "Filippine")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Filippine")selected#end >Filippine</option>
<option value="Filippine" #if($currentSelect == "nation" && $request.user.getNation() == "Finlandia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Finlandia")selected#end >Finlandia</option>
<option value="Francia" #if($currentSelect == "nation" && $request.user.getNation() == "Francia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Francia")selected#end >Francia</option>
<option value="Gabon" #if($currentSelect == "nation" && $request.user.getNation() == "Gabon")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Gabon")selected#end >Gabon</option>
<option value="Gambia" #if($currentSelect == "nation" && $request.user.getNation() == "Gambia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Gambia")selected#end >Gambia</option>
<option value="Georgia" #if($currentSelect == "nation" && $request.user.getNation() == "Georgia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Georgia")selected#end >Georgia</option>
<option value="Georgia del Sud" #if($currentSelect == "nation" && $request.user.getNation() == "Georgia del Sud")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Georgia del Sud")selected#end >Georgia del Sud</option>
<option value="Germania" #if($currentSelect == "nation" && $request.user.getNation() == "Germania")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Germania")selected#end >Germania</option>
<option value="Ghana" #if($currentSelect == "nation" && $request.user.getNation() == "Ghana")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Ghana")selected#end >Ghana</option>
<option value="Giamaica" #if($currentSelect == "nation" && $request.user.getNation() == "Giamaica")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Giamaica")selected#end >Giamaica</option>
<option value="Giappone" #if($currentSelect == "nation" && $request.user.getNation() == "Giappone")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Giappone")selected#end >Giappone</option>
<option value="Gibilterra" #if($currentSelect == "nation" && $request.user.getNation() == "Gibilterra")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Gibilterra")selected#end >Gibilterra</option>
<option value="Gibuti" #if($currentSelect == "nation" && $request.user.getNation() == "Gibuti")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Gibuti")selected#end >Gibuti</option>
<option value="Giordania" #if($currentSelect == "nation" && $request.user.getNation() == "Giordania")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Giordania")selected#end >Giordania</option>
<option value="Grecia" #if($currentSelect == "nation" && $request.user.getNation() == "Grecia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Grecia")selected#end >Grecia</option>
<option value="Grenada" #if($currentSelect == "nation" && $request.user.getNation() == "Grenada")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Grenada")selected#end >Grenada</option>
<option value="Groenlandia" #if($currentSelect == "nation" && $request.user.getNation() == "Groenlandia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Groenlandia")selected#end >Groenlandia</option>
<option value="Guadalupa" #if($currentSelect == "nation" && $request.user.getNation() == "Guadalupa")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Guadalupa")selected#end >Guadalupa</option>
<option value="Guam" #if($currentSelect == "nation" && $request.user.getNation() == "Guam")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Guam")selected#end >Guam</option>
<option value="Guatemala" #if($currentSelect == "nation" && $request.user.getNation() == "Guatemala")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Guatemala")selected#end >Guatemala</option>
<option value="Guernsey" #if($currentSelect == "nation" && $request.user.getNation() == "Guernsey")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Guernsey")selected#end >Guernsey</option>
<option value="Guinea" #if($currentSelect == "nation" && $request.user.getNation() == "Guinea")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Guinea")selected#end >Guinea</option>
<option value="Guinea Bissau" #if($currentSelect == "nation" && $request.user.getNation() == "Guinea Bissau")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Guinea Bissau")selected#end >Guinea Bissau</option>
<option value="Guinea Equatoriale" #if($currentSelect == "nation" && $request.user.getNation() == "Guinea Equatoriale")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Guinea Equatoriale")selected#end >Guinea Equatoriale</option>
<option value="Guyana" #if($currentSelect == "nation" && $request.user.getNation() == "Guyana")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Guyana")selected#end >Guyana</option>
<option value="Guyana Francese" #if($currentSelect == "nation" && $request.user.getNation() == "Guyana Francese")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Guyana Francese")selected#end >Guyana Francese</option>
<option value="Haiti" #if($currentSelect == "nation" && $request.user.getNation() == "Haiti")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Haiti")selected#end >Haiti</option>
<option value="Heart e Mac Donald (isole)" #if($currentSelect == "nation" && $request.user.getNation() == "Heart e Mac Donald (isole)")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Heart e Mac Donald (isole)")selected#end >Heart e Mac Donald (isole)</option>
<option value="Honduras" #if($currentSelect == "nation" && $request.user.getNation() == "Honduras")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Honduras")selected#end >Honduras</option>
<option value="Hong Kong" #if($currentSelect == "nation" && $request.user.getNation() == "Hong Kong")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Hong Kong")selected#end >Hong Kong</option>
<option value="India" #if($currentSelect == "nation" && $request.user.getNation() == "India")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "India")selected#end >India</option>
<option value="Indonesia" #if($currentSelect == "nation" && $request.user.getNation() == "Indonesia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Indonesia")selected#end >Indonesia</option>
<option value="Iran" #if($currentSelect == "nation" && $request.user.getNation() == "Iran")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Iran")selected#end >Iran</option>
<option value="Iraq" #if($currentSelect == "nation" && $request.user.getNation() == "Iraq")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Iraq")selected#end >Iraq</option>
<option value="Irlanda" #if($currentSelect == "nation" && $request.user.getNation() == "Irlanda")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Irlanda")selected#end >Irlanda</option>
<option value="Islanda" #if($currentSelect == "nation" && $request.user.getNation() == "Islanda")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Islanda")selected#end >Islanda</option>
<option value="Isola del Natale" #if($currentSelect == "nation" && $request.user.getNation() == "Isola del Natale")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Isola del Natale")selected#end >Isola del Natale</option>
<option value="Isola di Man" #if($currentSelect == "nation" && $request.user.getNation() == "Isola di Man")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Isola di Man")selected#end >Isola di Man</option>
<option value="Isole Aland" #if($currentSelect == "nation" && $request.user.getNation() == "Isole Aland")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Isole Aland")selected#end >Isole Aland</option>
<option value="Isole BES" #if($currentSelect == "nation" && $request.user.getNation() == "Isole BES")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Isole BES")selected#end >Isole BES</option>
<option value="Israele" #if($currentSelect == "nation" && $request.user.getNation() == "Israele")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Israele")selected#end >Israele</option>
<option value="Italia" #if($currentSelect == "nation" && $request.user.getNation() == "Italia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Italia")selected#end >Italia</option>
<option value="Jersey" #if($currentSelect == "nation" && $request.user.getNation() == "Jersey")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Jersey")selected#end >Jersey</option>
<option value="Kazakistan" #if($currentSelect == "nation" && $request.user.getNation() == "Kazakistan")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Kazakistan")selected#end >Kazakistan</option>
<option value="Kenia" #if($currentSelect == "nation" && $request.user.getNation() == "Kenia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Kenia")selected#end >Kenia</option>
<option value="Kirghizistan" #if($currentSelect == "nation" && $request.user.getNation() == "Kirghizistan")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Kirghizistan")selected#end >Kirghizistan</option>
<option value="Kiribati" #if($currentSelect == "nation" && $request.user.getNation() == "Kiribati")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Kiribati")selected#end >Kiribati</option>
<option value="Kuwait" #if($currentSelect == "nation" && $request.user.getNation() == "Kuwait")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Kuwait")selected#end >Kuwait</option>
<option value="Laos" #if($currentSelect == "nation" && $request.user.getNation() == "Laos")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Laos")selected#end >Laos</option>
<option value="Lesotho" #if($currentSelect == "nation" && $request.user.getNation() == "Lesotho")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Lesotho")selected#end >Lesotho</option>
<option value="Lettonia" #if($currentSelect == "nation" && $request.user.getNation() == "Lettonia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Lettonia")selected#end >Lettonia</option>
<option value="Libano" #if($currentSelect == "nation" && $request.user.getNation() == "Libano")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Libano")selected#end >Libano</option>
<option value="Liberia" #if($currentSelect == "nation" && $request.user.getNation() == "Liberia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Liberia")selected#end >Liberia</option>
<option value="Libia" #if($currentSelect == "nation" && $request.user.getNation() == "Libia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Libia")selected#end >Libia</option>
<option value="Liechtenstein" #if($currentSelect == "nation" && $request.user.getNation() == "Liechtenstein")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Liechtenstein")selected#end >Liechtenstein</option>
<option value="Lituania" #if($currentSelect == "nation" && $request.user.getNation() == "Lituania")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Lituania")selected#end >Lituania</option>
<option value="Lussemburgo" #if($currentSelect == "nation" && $request.user.getNation() == "Lussemburgo")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Lussemburgo")selected#end >Lussemburgo</option>
<option value="Macao" #if($currentSelect == "nation" && $request.user.getNation() == "Macao")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Macao")selected#end >Macao</option>
<option value="Macedonia del Nord" #if($currentSelect == "nation" && $request.user.getNation() == "Macedonia del Nord")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Macedonia del Nord")selected#end >Macedonia del Nord</option>
<option value="Madagascar" #if($currentSelect == "nation" && $request.user.getNation() == "Madagascar")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Madagascar")selected#end >Madagascar</option>
<option value="Malawi" #if($currentSelect == "nation" && $request.user.getNation() == "Malawi")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Malawi")selected#end >Malawi</option>
<option value="Maldive" #if($currentSelect == "nation" && $request.user.getNation() == "Maldive")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Maldive")selected#end >Maldive</option>
<option value="Mali" #if($currentSelect == "nation" && $request.user.getNation() == "Mali")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Mali")selected#end >Mali</option>
<option value="Malta" #if($currentSelect == "nation" && $request.user.getNation() == "Malta")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Malta")selected#end >Malta</option>
<option value="Malysia" #if($currentSelect == "nation" && $request.user.getNation() == "Malysia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Malysia")selected#end >Malysia</option>
<option value="Marianne Settentrionali (isole)" #if($currentSelect == "nation" && $request.user.getNation() == "Marianne Settentrionali (isole)")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Marianne Settentrionali (isole)")selected#end >Marianne Settentrionali (isole)</option>
<option value="Marocco" #if($currentSelect == "nation" && $request.user.getNation() == "Marocco")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Marocco")selected#end >Marocco</option>
<option value="Marshall (isole)" #if($currentSelect == "nation" && $request.user.getNation() == "Marshall (isole)")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Marshall (isole)")selected#end >Marshall (isole)</option>
<option value="Martinica" #if($currentSelect == "nation" && $request.user.getNation() == "Martinica")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Martinica")selected#end >Martinica</option>
<option value="Mauritania" #if($currentSelect == "nation" && $request.user.getNation() == "Mauritania")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Mauritania")selected#end >Mauritania</option>
<option value="Mauritius" #if($currentSelect == "nation" && $request.user.getNation() == "Mauritius")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Mauritius")selected#end >Mauritius</option>
<option value="Mayotte" #if($currentSelect == "nation" && $request.user.getNation() == "Mayotte")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Mayotte")selected#end >Mayotte</option>
<option value="Messico" #if($currentSelect == "nation" && $request.user.getNation() == "Messico")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Messico")selected#end >Messico</option>
<option value="Moldavia" #if($currentSelect == "nation" && $request.user.getNation() == "Moldavia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Moldavia")selected#end >Moldavia</option>
<option value="Monaco" #if($currentSelect == "nation" && $request.user.getNation() == "Monaco")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Monaco")selected#end >Monaco</option>
<option value="Mongolia" #if($currentSelect == "nation" && $request.user.getNation() == "Mongolia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Mongolia")selected#end >Mongolia</option>
<option value="Montenegro" #if($currentSelect == "nation" && $request.user.getNation() == "Montenegro")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Montenegro")selected#end >Montenegro</option>
<option value="Montserrat" #if($currentSelect == "nation" && $request.user.getNation() == "Montserrat")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Montserrat")selected#end >Montserrat</option>
<option value="Mozambico" #if($currentSelect == "nation" && $request.user.getNation() == "Mozambico")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Mozambico")selected#end >Mozambico</option>
<option value="Myanmar" #if($currentSelect == "nation" && $request.user.getNation() == "Myanmar")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Myanmar")selected#end >Myanmar</option>
<option value="Namibia" #if($currentSelect == "nation" && $request.user.getNation() == "Namibia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Namibia")selected#end >Namibia</option>
<option value="Nauru" #if($currentSelect == "nation" && $request.user.getNation() == "Nauru")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Nauru")selected#end >Nauru</option>
<option value="Nepal" #if($currentSelect == "nation" && $request.user.getNation() == "Nepal")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Nepal")selected#end >Nepal</option>
<option value="Nicaragua" #if($currentSelect == "nation" && $request.user.getNation() == "Nicaragua")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Nicaragua")selected#end >Nicaragua</option>
<option value="Niger" #if($currentSelect == "nation" && $request.user.getNation() == "Niger")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Niger")selected#end >Niger</option>
<option value="Nigeria" #if($currentSelect == "nation" && $request.user.getNation() == "Nigeria")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Nigeria")selected#end >Nigeria</option>
<option value="Niue" #if($currentSelect == "nation" && $request.user.getNation() == "Niue")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Niue")selected#end >Niue</option>
<option value="Norfolk (isola)" #if($currentSelect == "nation" && $request.user.getNation() == "Norfolk (isola)")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Norfolk (isola)")selected#end >Norfolk (isola)</option>
<option value="Norvegia" #if($currentSelect == "nation" && $request.user.getNation() == "Norvegia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Norvegia")selected#end >Norvegia</option>
<option value="Nuova Caledonia" #if($currentSelect == "nation" && $request.user.getNation() == "Nuova Caledonia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Nuova Caledonia")selected#end >Nuova Caledonia</option>
<option value="Nuova Zelanda" #if($currentSelect == "nation" && $request.user.getNation() == "Nuova Zelanda")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Nuova Zelanda")selected#end >Nuova Zelanda</option>
<option value="Oman" #if($currentSelect == "nation" && $request.user.getNation() == "Oman")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Oman")selected#end >Oman</option>
<option value="Paesi Bassi" #if($currentSelect == "nation" && $request.user.getNation() == "Paesi Bassi")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Paesi Bassi")selected#end >Paesi Bassi</option>
<option value="Pakistan" #if($currentSelect == "nation" && $request.user.getNation() == "Pakistan")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Pakistan")selected#end >Pakistan</option>
<option value="Palau" #if($currentSelect == "nation" && $request.user.getNation() == "Palau")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Palau")selected#end >Palau</option>
<option value="Palestina (stato)" #if($currentSelect == "nation" && $request.user.getNation() == "Palestina (stato)")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Palestina (stato)")selected#end >Palestina (stato)</option>
<option value="Panama" #if($currentSelect == "nation" && $request.user.getNation() == "Panama")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Panama")selected#end >Panama</option>
<option value="Papua Nuova Guinea" #if($currentSelect == "nation" && $request.user.getNation() == "Papua Nuova Guinea")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Papua Nuova Guinea")selected#end >Papua Nuova Guinea</option>
<option value="Paraguay" #if($currentSelect == "nation" && $request.user.getNation() == "Paraguay")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Paraguay")selected#end >Paraguay</option>
<option value="Peru" #if($currentSelect == "nation" && $request.user.getNation() == "Peru")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Peru")selected#end >Peru</option>
<option value="Pitcairn (isole)" #if($currentSelect == "nation" && $request.user.getNation() == "Pitcairn (isole)")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Pitcairn (isole)")selected#end >Pitcairn (isole)</option>
<option value="Polinesia Francese" #if($currentSelect == "nation" && $request.user.getNation() == "Polinesia Francese")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Polinesia Francese")selected#end >Polinesia Francese</option>
<option value="Polonia" #if($currentSelect == "nation" && $request.user.getNation() == "Polonia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Polonia")selected#end >Polonia</option>
<option value="Porto Rico" #if($currentSelect == "nation" && $request.user.getNation() == "Porto Rico")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Porto Rico")selected#end >Porto Rico</option>
<option value="Portogallo" #if($currentSelect == "nation" && $request.user.getNation() == "Portogallo")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Portogallo")selected#end >Portogallo</option>
<option value="Qatar" #if($currentSelect == "nation" && $request.user.getNation() == "Qatar")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Qatar")selected#end >Qatar</option>
<option value="Regno Unito" #if($currentSelect == "nation" && $request.user.getNation() == "Regno Unito")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Regno Unito")selected#end >Regno Unito</option>
<option value="Repubblica Ceca" #if($currentSelect == "nation" && $request.user.getNation() == "Repubblica Ceca")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Repubblica Ceca")selected#end >Repubblica Ceca</option>
<option value="Repubblica Centrafricana" #if($currentSelect == "nation" && $request.user.getNation() == "Repubblica Centrafricana")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Repubblica Centrafricana")selected#end >Repubblica Centrafricana</option>
<option value="Repubblica Democratica del Congo" #if($currentSelect == "nation" && $request.user.getNation() == "Repubblica Democratica del Congo")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Repubblica Democratica del Congo")selected#end >Repubblica Democratica del Congo</option>
<option value="Repubblica Dominicana" #if($currentSelect == "nation" && $request.user.getNation() == "Repubblica Dominicana")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Repubblica Dominicana")selected#end >Repubblica Dominicana</option>
<option value="Repubblica del Congo" #if($currentSelect == "nation" && $request.user.getNation() == "Repubblica del Congo")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Repubblica del Congo")selected#end >Repubblica del Congo</option>
<option value="Reunion" #if($currentSelect == "nation" && $request.user.getNation() == "Reunion")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Reunion")selected#end >Reunion</option>
<option value="Romania" #if($currentSelect == "nation" && $request.user.getNation() == "Romania")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Romania")selected#end >Romania</option>
<option value="Ruanda" #if($currentSelect == "nation" && $request.user.getNation() == "Ruanda")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Ruanda")selected#end >Ruanda</option>
<option value="Russia" #if($currentSelect == "nation" && $request.user.getNation() == "Russia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Russia")selected#end >Russia</option>
<option value="Sahara Occidentale" #if($currentSelect == "nation" && $request.user.getNation() == "Sahara Occidentale")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Sahara Occidentale")selected#end >Sahara Occidentale</option>
<option value="Saint Kitts e Nevis" #if($currentSelect == "nation" && $request.user.getNation() == "Saint Kitts e Nevis")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Saint Kitts e Nevis")selected#end >Saint Kitts e Nevis</option>
<option value="Saint Martin (parte francese)" #if($currentSelect == "nation" && $request.user.getNation() == "Saint Martin (parte francese)")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Saint Martin (parte francese)")selected#end >Saint Martin (parte francese)</option>
<option value="Saint Pierre e Miquelon" #if($currentSelect == "nation" && $request.user.getNation() == "Saint Pierre e Miquelon")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Saint Pierre e Miquelon")selected#end >Saint Pierre e Miquelon</option>
<option value="Saint Thomas e Prince" #if($currentSelect == "nation" && $request.user.getNation() == "Saint Thomas e Prince")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Saint Thomas e Prince")selected#end >Saint Thomas e Prince</option>
<option value="Saint Vincent e Granadine" #if($currentSelect == "nation" && $request.user.getNation() == "Saint Vincent e Granadine")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Saint Vincent e Granadine")selected#end >Saint Vincent e Granadine</option>
<option value="Saint-Barthelemy" #if($currentSelect == "nation" && $request.user.getNation() == "Saint-Barthelemy")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Saint-Barthelemy")selected#end >Saint-Barthelemy</option>
<option value="Sainte Helene" #if($currentSelect == "nation" && $request.user.getNation() == "Sainte Helene")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Sainte Helene")selected#end >Sainte Helene</option>
<option value="Salomone (isole)" #if($currentSelect == "nation" && $request.user.getNation() == "Salomone (isole)")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Salomone (isole)")selected#end >Salomone (isole)</option>
<option value="Samoa" #if($currentSelect == "nation" && $request.user.getNation() == "Samoa")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Samoa")selected#end >Samoa</option>
<option value="Samoa Americane" #if($currentSelect == "nation" && $request.user.getNation() == "Samoa Americane")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Samoa Americane")selected#end >Samoa Americane</option>
<option value="San Marino" #if($currentSelect == "nation" && $request.user.getNation() == "San Marino")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "San Marino")selected#end >San Marino</option>
<option value="Santa Lucia" #if($currentSelect == "nation" && $request.user.getNation() == "Santa Lucia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Santa Lucia")selected#end >Santa Lucia</option>
<option value="Senegal" #if($currentSelect == "nation" && $request.user.getNation() == "Senegal")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Senegal")selected#end >Senegal</option>
<option value="Serbia" #if($currentSelect == "nation" && $request.user.getNation() == "Serbia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Serbia")selected#end >Serbia</option>
<option value="Seychelles" #if($currentSelect == "nation" && $request.user.getNation() == "Seychelles")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Seychelles")selected#end >Seychelles</option>
<option value="Sierra Leone" #if($currentSelect == "nation" && $request.user.getNation() == "Sierra Leone")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Sierra Leone")selected#end >Sierra Leone</option>
<option value="Singapore" #if($currentSelect == "nation" && $request.user.getNation() == "Singapore")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Singapore")selected#end >Singapore</option>
<option value="Sint Maarten (parte olandese)" #if($currentSelect == "nation" && $request.user.getNation() == "Sint Maarten (parte olandese)")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Sint Maarten (parte olandese)")selected#end >Sint Maarten (parte olandese)</option>
<option value="Siria" #if($currentSelect == "nation" && $request.user.getNation() == "Siria")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Siria")selected#end >Siria</option>
<option value="Slovacchia" #if($currentSelect == "nation" && $request.user.getNation() == "Slovacchia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Slovacchia")selected#end >Slovacchia</option>
<option value="Slovenia" #if($currentSelect == "nation" && $request.user.getNation() == "Slovenia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Slovenia")selected#end >Slovenia</option>
<option value="Somalia" #if($currentSelect == "nation" && $request.user.getNation() == "Somalia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Somalia")selected#end >Somalia</option>
<option value="Spagna" #if($currentSelect == "nation" && $request.user.getNation() == "Spagna")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Spagna")selected#end >Spagna</option>
<option value="Sri Lanka" #if($currentSelect == "nation" && $request.user.getNation() == "Sri Lanka")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Sri Lanka")selected#end >Sri Lanka</option>
<option value="Stati Federati di Micronesia" #if($currentSelect == "nation" && $request.user.getNation() == "Stati Federati di Micronesia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Stati Federati di Micronesia")selected#end >Stati Federati di Micronesia</option>
<option value="Stati Uniti" #if($currentSelect == "nation" && $request.user.getNation() == "Stati Uniti")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Stati Uniti")selected#end >Stati Uniti</option>
<option value="Sudafrica" #if($currentSelect == "nation" && $request.user.getNation() == "Sudafrica")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Sudafrica")selected#end >Sudafrica</option>
<option value="Sudan" #if($currentSelect == "nation" && $request.user.getNation() == "Sudan")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Sudan")selected#end >Sudan</option>
<option value="Sudan del Sud" #if($currentSelect == "nation" && $request.user.getNation() == "Sudan del Sud")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Sudan del Sud")selected#end >Sudan del Sud</option>
<option value="Suriname" #if($currentSelect == "nation" && $request.user.getNation() == "Suriname")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Suriname")selected#end >Suriname</option>
<option value="Svalbard e Jan Mayen" #if($currentSelect == "nation" && $request.user.getNation() == "Svalbard e Jan Mayen")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Svalbard e Jan Mayen")selected#end >Svalbard e Jan Mayen</option>
<option value="Svezia" #if($currentSelect == "nation" && $request.user.getNation() == "Svezia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Svezia")selected#end >Svezia</option>
<option value="Svizzera" #if($currentSelect == "nation" && $request.user.getNation() == "Svizzera")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Svizzera")selected#end >Svizzera</option>
<option value="Swaziland" #if($currentSelect == "nation" && $request.user.getNation() == "Swaziland")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Swaziland")selected#end >Swaziland</option>
<option value="Tagikistan" #if($currentSelect == "nation" && $request.user.getNation() == "Tagikistan")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Tagikistan")selected#end >Tagikistan</option>
<option value="Taiwan" #if($currentSelect == "nation" && $request.user.getNation() == "Taiwan")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Taiwan")selected#end >Taiwan</option>
<option value="Tanzania" #if($currentSelect == "nation" && $request.user.getNation() == "Tanzania")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Tanzania")selected#end >Tanzania</option>
<option value="Thailandia" #if($currentSelect == "nation" && $request.user.getNation() == "Thailandia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Thailandia")selected#end >Thailandia</option>
<option value="Timor Est" #if($currentSelect == "nation" && $request.user.getNation() == "Timor Est")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Timor Est")selected#end >Timor Est</option>
<option value="Togo" #if($currentSelect == "nation" && $request.user.getNation() == "Togo")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Togo")selected#end >Togo</option>
<option value="Tokelau" #if($currentSelect == "nation" && $request.user.getNation() == "Tokelau")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Tokelau")selected#end >Tokelau</option>
<option value="Tonga" #if($currentSelect == "nation" && $request.user.getNation() == "Tonga")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Tonga")selected#end >Tonga</option>
<option value="Trinidad e Tobago" #if($currentSelect == "nation" && $request.user.getNation() == "Trinidad e Tobago")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Trinidad e Tobago")selected#end >Trinidad e Tobago</option>
<option value="Tunisia" #if($currentSelect == "nation" && $request.user.getNation() == "Tunisia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Tunisia")selected#end >Tunisia</option>
<option value="Turchia" #if($currentSelect == "nation" && $request.user.getNation() == "Turchia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Turchia")selected#end >Turchia</option>
<option value="Turkmenistan" #if($currentSelect == "nation" && $request.user.getNation() == "Turkmenistan")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Turkmenistan")selected#end >Turkmenistan</option>
<option value="Turks e Caicos (isole)" #if($currentSelect == "nation" && $request.user.getNation() == "Turks e Caicos (isole)")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Turks e Caicos (isole)")selected#end >Turks e Caicos (isole)</option>
<option value="Tuvalu (isola)" #if($currentSelect == "nation" && $request.user.getNation() == "Tuvalu (isola)")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Tuvalu (isola)")selected#end >Tuvalu (isola)</option>
<option value="Ucraina" #if($currentSelect == "nation" && $request.user.getNation() == "Ucraina")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Ucraina")selected#end >Ucraina</option>
<option value="Uganda" #if($currentSelect == "nation" && $request.user.getNation() == "Uganda")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Uganda")selected#end >Uganda</option>
<option value="Ungheria" #if($currentSelect == "nation" && $request.user.getNation() == "Ungheria")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Ungheria")selected#end >Ungheria</option>
<option value="Uruguay" #if($currentSelect == "nation" && $request.user.getNation() == "Uruguay")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Uruguay")selected#end >Uruguay</option>
<option value="Uzbekstan" #if($currentSelect == "nation" && $request.user.getNation() == "Uzbekstan")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Uzbekstan")selected#end >Uzbekstan</option>
<option value="Vanautu" #if($currentSelect == "nation" && $request.user.getNation() == "Vanautu")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Vanautu")selected#end >Vanautu</option>
<option value="Vaticano" #if($currentSelect == "nation" && $request.user.getNation() == "Vaticano")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Vaticano")selected#end >Vaticano</option>
<option value="Venezuela" #if($currentSelect == "nation" && $request.user.getNation() == "Venezuela")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Venezuela")selected#end >Venezuela</option>
<option value="Vergini americane (isole)" #if($currentSelect == "nation" && $request.user.getNation() == "Vergini americane (isole)")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Vergini americane (isole)")selected#end >Vergini americane (isole)</option>
<option value="Vergini britanniche (isole)" #if($currentSelect == "nation" && $request.user.getNation() == "Vergini britanniche (isole)")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Vergini britanniche (isole)")selected#end >Vergini britanniche (isole)</option>
<option value="Vietnam" #if($currentSelect == "nation" && $request.user.getNation() == "Vietnam")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Vietnam")selected#end >Vietnam</option>
<option value="Wallis e Fotuna (isole)" #if($currentSelect == "nation" && $request.user.getNation() == "Wallis e Fotuna (isole)")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Wallis e Fotuna (isole)")selected#end >Wallis e Fotuna (isole)</option>
<option value="Yemen" #if($currentSelect == "nation" && $request.user.getNation() == "Yemen")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Yemen")selected#end >Yemen</option>
<option value="Zambia" #if($currentSelect == "nation" && $request.user.getNation() == "Zambia")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Zambia")selected#end >Zambia</option>
<option value="Zimbabwe" #if($currentSelect == "nation" && $request.user.getNation() == "Zimbabwe")selected#end #if($currentSelect == "birth-nation" && $request.user.getBirthNation() == "Zimbabwe")selected#end >Zimbabwe</option>