<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"/>    
		<title>Osee Genius - Search and Discovery</title>
		<link rel="icon" type="image/x-icon" href="$link.relative('/img/favicon.ico')" />
		<link href="$link.relative('/style/jquery.ui.theme.css')" rel="stylesheet" type="text/css" />	
		<link href="$link.relative('/style/og.css')" rel="stylesheet" type="text/css" />
		<link href="$link.relative('/style/customer.css')" rel="stylesheet" type="text/css" />
		<link href="$link.relative('/style/jquery.ui.selectmenu.css')" rel="stylesheet" type="text/css" />			
		<link href="$link.relative('/style/jquery.autocomplete.css')" rel="stylesheet" type="text/css" />	
        <script type="text/javascript" src="$link.relative('/js/jquery.min.1.4.4.js')"></script> 
		<script type="text/javascript" src="$link.relative('/js/jquery.ui.core.js')"></script>
		<script type="text/javascript" src="$link.relative('/js/jquery.ui.widget.js')"></script>
		<script type="text/javascript" src="$link.relative('/js/jquery.ui.position.js')"></script>
		<script type="text/javascript" src="$link.relative('/js/jquery.ui.selectmenu.js')"></script>
		<script type="text/javascript" src="$link.relative('/js/jquery.ui.button.js')"></script>
		<script type="text/javascript" src="$link.relative('/js/jquery.autocomplete.js')"></script>
		<script type="text/javascript" src="$link.relative('/js/oseegenius.js')"></script>
	</head>
	<style>
		#advanced-search-form
		{
			margin-top:20px;
			margin-left:10px;
			width:67%;
			float:left;
			position: relative;
			top: 10px;
		}
		
		#limit-to-form
		{
			margin-top:20px;
			margin-right:10px;
			width:30%;
			float:right;
			position: relative;
			top: 25px;
		}
		
	</style>
	<body>
    	<div id="container"> 
			#parse('components/links.vm')
			<div id="top-toolbar">
				#parse('components/page/top-toolbar.vm')	
				#parse('components/search/empty-breadcrumb.vm')	
			</div>
            <div id="header"></div>
			$screen_content
			<div id="toolbar" class="box"><div id="navigator">#i18nToolbar</div></div>
    		#parse('components/page/footer.vm')
		</div>	
	</body>
</html>