<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"/>    				
		<title>Osee Genius - Search and Discovery</title>
		<link rel="icon" type="image/x-icon" href="$link.relative('/img/favicon.ico')" />
		<link href="$link.relative('/style/jquery.ui.css')" rel="stylesheet" type="text/css" />	
		<link href="$link.relative('/style/jquery.ui.theme.css')" rel="stylesheet" type="text/css" />				
		<link href="$link.relative('/style/og.css')" rel="stylesheet" type="text/css" />
		<link href="$link.relative('/style/customer.css')" rel="stylesheet" type="text/css" />
		<link href="$link.relative('/style/jquery.ui.selectmenu.css')" rel="stylesheet" type="text/css" />	
        <script type="text/javascript" src="$link.relative('/js/jquery.min.1.4.4.js')"></script> 
		<script type="text/javascript" src="$link.relative('/js/jquery.ui.core.js')"></script>
		<script type="text/javascript" src="$link.relative('/js/jquery.ui.widget.js')"></script>
		<script type="text/javascript" src="$link.relative('/js/jquery.ui.position.js')"></script>
		<script type="text/javascript" src="$link.relative('/js/jquery.ui.selectmenu.js')"></script>
		<script type="text/javascript" src="$link.relative('/js/jquery.ui.button.js')"></script>
		<script type="text/javascript" src="$link.relative('/js/oseegenius.js')"></script>
	</head>
	<body>
    	<div id="container"> 
			#parse('components/links.vm')
			<div id="top-toolbar">
				#if ($session.ogcontext == 'browsing')
					#parse('components/page/top-browsing-toolbar.vm')						
				#elseif ($session.ogcontext == 'federated')
					#parse('components/page/top-toolbar-ext.vm')		
				#else	
					#parse('components/page/top-toolbar.vm')	
				#end
				#parse('components/search/empty-breadcrumb.vm')	
			</div>
			<div id="header"></div>
            <div id="content-detail">
                <ul id="up">
					#if($session.visit.searchHistory.simpleSearchListNotEmpty)
                        #if ($session.hsection == 'simple')
						<li class="c"><span style="float:left;margin-top:2px;">$text.simple_searches</span></li>
						#else
						<li><a href='history?section=simple'>$text.simple_searches</a></li>
						#end
					#end 
					#if($session.visit.searchHistory.advancedSearchListNotEmpty)
                        #if ($session.hsection == 'advanced')
						<li class="c"><span style="float:left;margin-top:2px;">$text.advanced_searches</span></li>
						#else
						<li><a href='history?section=advanced'>$text.advanced_searches</a></li>
						#end 
					#end 
					#if($session.visit.searchHistory.federatedSearchListNotEmpty)
                        #if ($session.hsection == 'federated')
						<li class="c"><span style="float:left;margin-top:2px;">$text.federated_list</span></li>
						#else
						<li><a href='history?section=federated'>$text.federated_list</a></li>
						#end
					#end 
					#if($session.visit.searchHistory.browsingListNotEmpty)
                        #if ($session.hsection == 'browsing')
						<li class="c"><span style="float:left;margin-top:2px;">$text.browsing_list</span></li>
						#else
						<li><a href='history?section=browsing'>$text.browsing_list</a></li>
						#end
					#end 
            	</ul>				
				#vspacer(25)
				$screen_content
			</div> 
			<div id="toolbar" class="box"><div id="navigator">#i18nToolbar</div></div>
		</div>	
	</body>
</html>