#if ($license.libraryPluginEnabled)
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"/>    
		<title>Osee Genius - Search and Discovery</title>
		<link rel="icon" type="image/x-icon" href="$link.relative('/img/favicon.ico')" />
		<link href="$link.relative('/style/og.css')" rel="stylesheet" type="text/css" />
		<link href="$link.relative('/style/jquery.ui.theme.css')" rel="stylesheet" type="text/css" />
		<link href="$link.relative('/style/customer.css')" rel="stylesheet" type="text/css" />
		<link href="$link.relative('/style/jquery.ui.selectmenu.css')" rel="stylesheet" type="text/css" />	
		<link href="$link.relative('/style/workspace.css')" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="$link.relative('/js/jquery.min.1.4.4.js')"></script> 
		<script type="text/javascript" src="$link.relative('/js/jquery.ui.core.js')"></script>
		<script type="text/javascript" src="$link.relative('/js/jquery.ui.widget.js')"></script>
		<script type="text/javascript" src="$link.relative('/js/jquery.ui.position.js')"></script>
		<script type="text/javascript" src="$link.relative('/js/jquery.ui.selectmenu.js')"></script>
		<script type="text/javascript" src="$link.relative('/js/jquery.ui.button.js')"></script>
		<script type="text/javascript" src="$link.relative('/js/oseegenius.js')"></script>
		#autosuggestorScript	
	</head>
	<body>
    	<div id="container"> 
			#parse('components/links.vm')
			<div id="top-toolbar">
				#parse('components/page/top-toolbar.vm')	
				#parse('components/search/empty-breadcrumb.vm')	
			</div>
			<div id="header"></div>
            <div id="content-detail">
				 <ul id="up">
    					#if($request.tab == 'table')
                            <li class="c"><span style="float:left;margin-top:2px;">$text.map_libraries</span></li>
    					#else
    						<li><a href='libraries?tab=map'>$text.map_libraries</a></li>
    					#end
    					#if($request.tab == 'map')
                                <li class="c"><span style="float:left;margin-top:2px;">$text.table_libraries</span></li>
        				#else
        					<li><a href='libraries?tab=table'>$text.table_libraries</a></li>
        				#end  
            	</ul>
				$screen_content
			</div>
    		#parse('components/search/bottom-the-libraries-toolbar.vm')	
		</div>	
	</body>
</html>
#end