<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"/>    
		<title>ThGenius - Thesaurus Explorer</title>
		<link href="$link.relative('/style/og.css')" rel="stylesheet" type="text/css" />
		<link href="$link.relative('/style/jquery.ui.theme.css')" rel="stylesheet" type="text/css" />
		#if ($configuration.css)
			<link href="$link.relative('/style/')${configuration.css}" rel="stylesheet" type="text/css" />
		#else
			<link href="$link.relative('/style/customer.css')" rel="stylesheet" type="text/css" />
		#end				
		<link href="$link.relative('/style/jquery.contextMenu.css')" rel="stylesheet" type="text/css" />				
		<link href="$link.relative('/style/jquery.ui.selectmenu.css')" rel="stylesheet" type="text/css" />	
        <script type="text/javascript" src="$link.relative('/js/jquery.min.1.4.4.js')"></script> 
		<script type="text/javascript" src="$link.relative('/js/jquery.ui.core.js')"></script>
		<script type="text/javascript" src="$link.relative('/js/jquery.ui.widget.js')"></script>
		<script type="text/javascript" src="$link.relative('/js/jquery.ui.position.js')"></script>
		<script type="text/javascript" src="$link.relative('/js/jquery.ui.selectmenu.js')"></script>
		<script type="text/javascript" src="$link.relative('/js/jquery.ui.button.js')"></script>
		<script type="text/javascript" src="$link.relative('/js/jquery.contextMenu.js')"></script>
		<script type="text/javascript" src="$link.relative('/js/oseegenius.js')"></script>
		<script type="text/javascript" src="$link.relative('/js/thgenius.js')"></script>
		#autosuggestorScript
	</head>
	<body>
    	<div id="container"> 
			#banner
			<div id="top-toolbar">
				#parse('components/page/top-toolbar-thexp.vm')	
				#parse('components/search/breadcrumb-detail_thexp.vm')	
			</div>
			<div id="header"></div>
            <div id="content-detail">$screen_content</div>
    		#parse('components/search/bottom-detail-toolbar-thexp.vm')	
		</div>	
	</body>
</html>