<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"/>    
		<title>Osee Genius - Search and Discovery</title>
		<link rel="icon" type="image/x-icon" href="$link.relative('/img/favicon.ico')" />
		<link href="$link.relative('/style/og.css')" rel="stylesheet" type="text/css" />
		<link href="$link.relative('/style/jquery.ui.theme.css')" rel="stylesheet" type="text/css" />
		<link href="$link.relative('/style/customer.css')" rel="stylesheet" type="text/css" />
		<link href="$link.relative('/style/xtree.css')" rel="stylesheet" type="text/css" />
		<link href="$link.relative('/style/prettyPhoto.css')" rel="stylesheet" type="text/css" />				
		<link href="$link.relative('/style/jquery.ui.selectmenu.css')" rel="stylesheet" type="text/css" />	
		<link href="$link.relative('/style/jquery.autocomplete.css')" rel="stylesheet" type="text/css" />	
		#set ($tab = $session.visit.searchExperience.currentTab)
		#if ($tab.rssQueryString)
			<link rel="alternate" title="#{messages.latest_news}"  href="$link.relative('/rss')?$tab.rssQueryString" target="_new"  type="application/rss+xml" />
		#end
        <script type="text/javascript" src="$link.relative('/js/jquery.min.1.4.4.js')"></script> 
		<script type="text/javascript" src="$link.relative('/js/jquery.prettyPhoto.js')"></script>
        <script type="text/javascript" src="$link.relative('/js/xtree.js')"></script>
		<script type="text/javascript" src="$link.relative('/js/jquery.ui.core.js')"></script>
		<script type="text/javascript" src="$link.relative('/js/jquery.ui.widget.js')"></script>
		<script type="text/javascript" src="$link.relative('/js/jquery.ui.position.js')"></script>
		<script type="text/javascript" src="$link.relative('/js/jquery.ui.selectmenu.js')"></script>
		<script type="text/javascript" src="$link.relative('/js/jquery.ui.button.js')"></script>
		<script type="text/javascript" src="$link.relative('/js/jquery.autocomplete.js')"></script>
		<script type="text/javascript" src="$link.relative('/js/oseegenius.js')"></script>
		<script type="text/javascript">
			$(document).ready(function()
			{
				$("[rel^='prettyPhoto']").prettyPhoto({social_tools: false});
				$('select#send').selectmenu({style:'dropdown', width:150,menuWidth:150,maxHeight: 800}); 
				$('select#export').selectmenu({style:'dropdown', width:150,menuWidth:150,maxHeight: 800}); 
				$('select#download').selectmenu({style:'dropdown', width:150,menuWidth:150,maxHeight: 800}); 
			});		
		</script>
	</head>
	<body>
    	<div id="container"> 
			#parse('components/links.vm')
			<div id="top-toolbar">
				#parse('components/page/top-toolbar.vm')	
				#parse('components/search/breadcrumb.vm')	
			</div>
            <div id="header"></div> 
            <div id="navigation"> 
        		#parse('components/browsing/browsing.vm')
				#parse('components/export-or-download-info.vm')
				#parse('components/desiderata.vm')	
				#parse('components/export-or-download.vm')
				#parse('components/send-by-email.vm')
				#parse('components/search-instead-by.vm') 
				#parse('components/browsing/federated.vm')	
            </div> 
            <div id="extra"> 
        		#parse('components/browsing/facets.vm')			
        	</div> 
            <div id="content">$screen_content</div>
    		#parse('components/search/bottom-toolbar.vm')	
    		#parse('components/page/footer.vm')
		</div>
	</body>
</html>